extends layout

block head

block content
  #header
    ul
      li#home
      li#title
        h1= title
      li#page-container
        #page
          | PAGE: 
          = page
        #page-dropwdown
      li#add-page-container
        #add-page

  ul#images(ng-controller='ImageController')
    li(ng-repeat='image in images', data-depth="{{image._id}}")
      img(src='{{image.path}}')

  
  #right-panel
    #layers(ng-controller='ImageController')
      
      .layer(ng-repeat='image in images', id='{{image._id}}', style='top: {{image.depth}}%')
        .image-container
          .image(style="background-image: url({{image.path}})")
        .content
          .name
            {{image.name || "untitled"}}
          .delete



  script(type="text/javascript")
    | var page = "!{page}"
  script(src="/javascripts/pages.js")


