extends layout

block head

block content
  #container(ng-controller='ImageController', ng-mouseup="mouseUp($event)")
    #header
      ul
        li#home
        li#title
          h1= title
        li#page-container
          #page
            | PAGE: 
            = page
          ul#page-dropdown
            li page 1
            li page 2
            li page 4
            li page 5
            li page 7
            li page 8


        li#add-page-container
          #add-page
        #weight-adjustment
          #x-weight
            .label
              | x-weight
            #x-weight-control.bar-container
              .bar
                .inner-bar(style='width: {{currentPage.xScale}}%')
          #y-weight
            .label
              | y-weight
            #y-weight-control.bar-container
              .bar
                .inner-bar(style='width: {{currentPage.yScale}}%')

    #left-panel
      .vertical-center
        #resize-panel
          #scale
            #frame
              ul#images(ng-file-drop, ng-over-class='dragover', ng-multiple='true', ng-model='files', data-scalar-x='{{currentPage.xScale / 5}}', data-scalar-y='{{currentPage.yScale / 5}}')
                li.layer(ng-repeat='image in images | orderBy : "depth" : true', data-depth="{{1 - (image.depth / 100)}}")
                  img(src='{{image.path}}', class="parallax-image")
    
    #right-panel

      #layers(ng-file-drop, ng-over-class='dragover', ng-multiple='true', ng-model='files')
        
        .layer(ng-repeat='image in images', id='{{image._id}}', style='top: {{image.depth || 0}}%; z-index: {{100 - image.depth || 100}};', data-depth='{{image.depth || 0}}', on-last-repeat)
          .image-container
            .image(style="background-image: url({{image.path}})")
          .content
            .name
              {{image.name || "untitled"}}
            .delete



  script(type="text/javascript")
    | var page = "!{page}"
    | var book = "!{title}"
  script(src="/javascripts/parallax.min.js")
  script(src="/javascripts/pages.js")


