extends layout

block head

block content
  #header
    #home
    #title
      h1= title
    #page
      #page-dropwdown
    #add-page

  ul#images(ng-controller='ImageController')
    li(ng-repeat='image in images', data-depth="{{image._id}}")
      img(src='{{image.path}}')

  
  #layers
    #layer123.layer
      .image-container
        .image
      .content
        .name
          | hills
        .delete
    #layer124.layer
      .image-container
        .image
      .content
        .name
          | hills
        .delete
    #layer127.layer
      .image-container
        .image
      .content
        .name
          | hills
        .delete
    #layer128.layer
      .image-container
        .image
      .content
        .name
          | hills
        .delete





  script(type="text/javascript")
    | var page = "!{page}"
  script(src="/javascripts/pages.js")


