body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background-color: #333
  color: #ddd
a
  color: #99B7FF


#layers
  .layer
    .image-container
      background-image: url(/public/images/transparentPattern.png)
      width: 126px
      height: 80px
    .content
      .name
        color: #fff
      .delete
        color: #fff
