//variables
header-height = 96px
open-sans = 'Open Sans', sans-serif
red = #f44255
red-highlight = #fa3045


//styles
html
  height: 100%
body
  font-size: 14px
  font-family: open-sans
  background-color: #333
  color: #ddd
  margin: 0
a
  color: #99B7FF

#header
  background-color: #252629
  overflow: hidden
  ul
    list-style: none
    margin: 0
    padding: 0
  li
    float: left
    height: header-height
  #home
    width: 234px
    background-image: url(/images/nonio-logo.png)
  #title
    padding: 0 24px
    background-color: #36383b
    h1
      padding-top: 26px
      margin: 0
      font-weight: 300
      text-transform: capitalize
  #page-container
    margin-left: 48px
    color: #fff
    #page
      margin-top: 24px
      height: 48px
      border-radius: 4px
      background-color: red
      box-sizing: border-box
      font-size: 18px
      text-transform: uppercase
      padding: 11px 12px
      width: 180px
      background-image: url(/images/down-chevron.png)
      background-repeat: no-repeat
      background-position: 154px center
      cursor: pointer
      transition: background-color 0.2s ease-in-out
    #page:hover
      background-color: red-highlight
      transition: none
    #page-dropwdown
      display: none
  #add-page-container
    margin-left: 12px
    #add-page
      height: 48px
      width: 48px
      cursor: pointer
      margin-top: 24px
      border-radius: 4px
      background-color: red
      background-image: url(/images/add.png)
      background-repeat: no-repeat
      background-position: center
    #add-page:hover
      background-color: red-highlight
    

#right-panel
  position: absolute
  background-color: #191919
  right: 0px
  top: 0px
  width: 504px
  box-sizing: border-box
  padding-top: header-height
  padding-bottom: 120px
  height: 100%
  overflow: hidden
  #weight-adjustment
    background-color: #2e2f32
    position: absolute
    height: header-height
    width: 504px
    top: 0px
    #x-weight, #y-weight
      margin-top: 30px
      margin-left: 40px
      width: 196px
      float: left
      .label
        margin-left: 8px
        text-transform: uppercase
        font-size: 18px
        font-weight: 700
        color: #b9b9b9
      .bar-container
        padding: 8px 
        cursor: pointer
      .bar
        background-color: #fff
        height: 6px
        border-radius: 3px
        width: 180px
        .inner-bar
          background-color: red
          width: 90px
          height: 6px
          border-radius: 3px


#layers
  position: relative
  display: inline-block
  background-color: #191919
  width: 504px
  height: 100%
  .layer
    position: absolute
    left: 120px
    width: 326px
    height: 80px
    transform: perspective(400px) rotateX(45deg)
    box-shadow: 0 10px 18px rgba(#000000ff)
    cursor: -webkit-grab
    .image-container
      position: absolute
      left: 0px
      top: 0px
      background-image: url(/images/transparentPattern.png)
      width: 126px
      height: 80px
    .content
      position: absolute
      right: 0px
      top: 0px
      width: 200px
      height: 80px
      background-color: #1e1e1e
      .name
        color: #fff
        position: absolute
        text-align: right
        width: 150px
        right: 56px
        bottom: 12px
        font-size: 22px
      .delete
        width: 24px
        height: 24px
        position: absolute
        right: 16px
        bottom: 16px
        background-image: url(/images/deleteLayer.png)
        background-position: center center
        background-repeat: no-repeat
        background-color: rgba(#FFFFFF55)
        cursor: pointer
        transition: background-color 0.2s ease-in-out
      .delete:hover
        background-color: rgba(#FFFFFF88)
        transition: none
      .delete:active
        background-color: rgba(#FFFFFF33)
        transition: none

  .layer:active
    cursor: -webkit-grabbing


.dragging
  ::selection
    background: none
#images
  list-style: none
