html {
  height: 100%;
}
body {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  background-color: #333;
  color: #ddd;
  margin: 0;
  overflow: hidden;
  height: 100%;
}
a {
  color: #99b7ff;
}
#container {
  height: 100%;
}
#header {
  background-color: #252629;
  height: 96px;
}
#header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#header li {
  float: left;
  height: 96px;
}
#header #home {
  width: 234px;
  background-image: url("/images/nonio-logo.png");
}
#header #title {
  padding: 0 24px;
  background-color: #36383b;
}
#header #title h1 {
  padding-top: 26px;
  margin: 0;
  font-weight: 300;
  text-transform: capitalize;
}
#header #page-container {
  margin-left: 48px;
  color: #fff;
}
#header #page-container #page {
  margin-top: 24px;
  height: 48px;
  border-radius: 4px;
  background-color: #f44255;
  box-sizing: border-box;
  font-size: 18px;
  text-transform: uppercase;
  padding: 11px 12px;
  width: 180px;
  background-image: url("/images/down-chevron.png");
  background-repeat: no-repeat;
  background-position: 154px center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
#header #page-container #page:hover {
  background-color: #fa3045;
  transition: none;
}
#header #page-container #page-dropdown {
  display: none;
  background-color: #f44255;
  margin-top: -5px;
  border-radius: 4px;
  padding-top: 7px;
  padding-bottom: 4px;
}
#header #page-container #page-dropdown li {
  padding-left: 12px;
  padding-top: 5px;
  box-sizing: border-box;
  height: 36px;
  float: none;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}
#header #page-container #page-dropdown li:hover {
  background-color: rgba(255,255,255,0.1);
}
#header #page-container #page-dropdown::selection,
#header #page-container #page-dropdown li::selection,
#header #page-container #page::selection {
  background: none;
}
#header #add-page-container {
  margin-left: 12px;
}
#header #add-page-container #add-page {
  height: 48px;
  width: 48px;
  cursor: pointer;
  margin-top: 24px;
  border-radius: 4px;
  background-color: #f44255;
  background-image: url("/images/add.png");
  background-repeat: no-repeat;
  background-position: center;
}
#header #add-page-container #add-page:hover {
  background-color: #fa3045;
}
#header #weight-adjustment {
  height: 96px;
}
#header #weight-adjustment #x-weight,
#header #weight-adjustment #y-weight {
  margin-top: 30px;
  margin-left: 40px;
  width: 196px;
  float: left;
}
#header #weight-adjustment #x-weight .label,
#header #weight-adjustment #y-weight .label {
  margin-left: 8px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  color: #b9b9b9;
}
#header #weight-adjustment #x-weight .bar-container,
#header #weight-adjustment #y-weight .bar-container {
  padding: 8px;
  cursor: pointer;
}
#header #weight-adjustment #x-weight .bar,
#header #weight-adjustment #y-weight .bar {
  background-color: #fff;
  height: 6px;
  border-radius: 3px;
  width: 180px;
}
#header #weight-adjustment #x-weight .bar .inner-bar,
#header #weight-adjustment #y-weight .bar .inner-bar {
  background-color: #f44255;
  width: 6px;
  height: 6px;
  border-radius: 3px;
}
#left-panel {
  margin-right: 504px;
  position: relative;
  height: 100%;
}
#left-panel .vertical-center {
  position: relative;
  top: 41%;
  transform: translateY(-50%);
}
#left-panel #scale,
#left-panel #frame {
  background-color: #000;
  width: 1000px;
  height: 400px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}
#left-panel #images {
  left: -400px;
  top: -115px;
  list-style: none;
  padding: 0;
  margin: 0;
}
#right-panel {
  position: absolute;
  background-color: #191919;
  right: 0px;
  top: 0px;
  width: 504px;
  box-sizing: border-box;
  margin-top: 96px;
  padding-bottom: 120px;
  height: 100%;
  overflow: hidden;
}
#layers {
  position: relative;
  display: inline-block;
  background-color: #191919;
  width: 504px;
  height: 100%;
}
#layers .layer {
  position: absolute;
  left: 120px;
  width: 326px;
  height: 80px;
  transform: perspective(400px) rotateX(45deg);
  box-shadow: 0 10px 18px #000;
  cursor: -webkit-grab;
}
#layers .layer .image-container {
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url("/images/transparentPattern.png");
  width: 126px;
  height: 80px;
}
#layers .layer .image-container .image {
  height: 80px;
  width: 126px;
  background-size: cover;
}
#layers .layer .content {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 200px;
  height: 80px;
  background-color: #1e1e1e;
}
#layers .layer .content .name {
  color: #fff;
  position: absolute;
  text-align: right;
  width: 150px;
  right: 56px;
  bottom: 12px;
  font-size: 22px;
}
#layers .layer .content .delete {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 16px;
  bottom: 16px;
  background-image: url("/images/deleteLayer.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(255,255,255,0.333);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
#layers .layer .content .delete:hover {
  background-color: rgba(255,255,255,0.533);
  transition: none;
}
#layers .layer .content .delete:active {
  background-color: rgba(255,255,255,0.2);
  transition: none;
}
#layers .layer:active {
  cursor: -webkit-grabbing;
}
.dragging ::selection {
  background: none;
}
